[submodule "web_configurator"]
	path = web_configurator
	url = https://github.com/dlktdr/HeadTracker_WebBLE.git
[submodule "firmware/src/src/LSM6DS3"]
	path = firmware/src/src/LSM6DS3
	url = https://github.com/STMicroelectronics/LSM6DS3TR-C-PID
[submodule "firmware/src/src/third-party/ArduinoJson"]
	path = firmware/src/src/third-party/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "firmware/src/third-party/ArduinoJson"]
	path = firmware/src/third-party/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "firmware/src/third-party/BMI270_SensorAPI"]
	path = firmware/src/third-party/BMI270_SensorAPI
	url = https://github.com/boschsensortec/BMI270_SensorAPI
