# XIAO BLE board configuration

# Copyright (c) 2022 Marcin Niestroj
# SPDX-License-Identifier: Apache-2.0

config BOARD_XIAO_SENSE
	bool "XIAO SENSE"
	depends on SOC_NRF52840_QIAA

config BOARD_XIAO_SENSE_INIT
	bool "Initializes the internal I2C sensors on the board"
	depends on BOARD_XIAO_SENSE