/*
 * Copyright (c) 2020 Jefferson Lee
 *
 * SPDX-License-Identifier: Apache-2.0
 */
/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>

/ {
	model = "DTQSYS Head Tracker";
	compatible = "dtqsys_ht";

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,uart-mcumgr = &uart0;
		zephyr,bt-mon-uart = &uart0;
		zephyr,bt-c2h-uart = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &code_partition;
	};

	aliases {
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		code_partition: partition@10000 {
			label = "code";
			reg = <0x10000 0xf0000>;
			read-only;
		};
	};
};

/*
 * guide specifying pin numbers: https://docs.zephyrproject.org/latest/boards/arm/nrf52840dk_nrf52840/doc/index.html
 * Given Pin PB.A:
 * pin_no = B*32 + A
 * ex. P1.0 => 32
 */
&adc {
	status = "okay";
};
&uart0 {
	compatible = "nordic,nrf-uart";
	current-speed = <115200>;
	status = "disabled";
};
&i2c0 {
	compatible = "nordic,nrf-twim";
	status = "disabled";
};
&i2c1 {
	compatible = "nordic,nrf-twim";
	status = "okay"; sdasdf
	sda-pin = <5>; //P0.05
	scl-pin = <42>; //P1.09
};
&spi2 {
	compatible = "nordic,nrf-spim";
	status = "disabled";
};
&gpio0 {
	status = "okay";
};
&gpio1 {
	status = "okay";
};
&usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";
};

&pwm0 {
	status = "disabled";
};
&pwm1 {
	status = "disabled";
};
&pwm2 {
	status = "disabled";
};
&pwm3 {
	status = "disabled";
};
&rtc1 {
	status = "disabled";
};
