/*
 * Copyright (c) 2020 Jefferson Lee
 *    Modified for DTQSYS board by Cliff Blackburn
 *
 * SPDX-License-Identifier: Apache-2.0
 */
/dts-v1/;
#include <dt-bindings/led/led.h>
#include <nordic/nrf52840_qiaa.dtsi>

/ {
	model = "DTQSYS Head Tracker";
	compatible = "dtqsys_ht";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &code_partition;
	};

	aliases {
		adcctrl = &adc;
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		code_partition: partition@10000 {
			label = "code";
			reg = <0x10000 0xEC000>;
			read-only;
		};

		datapt_partition: partition@FC000 {
			label = "datapt";
			reg = <0xFC000 0x4000>;
		};
	};
};

/*
 * guide specifying pin numbers: https://docs.zephyrproject.org/latest/boards/arm/nrf52840dk_nrf52840/doc/index.html
 * Given Pin PB.A:
 * pin_no = B*32 + A
 * ex. P1.0 => 32
 */

&adc {
	status = "okay";
};
&uart0 {
	status = "disabled";
};
&i2c0 {
	compatible = "nordic,nrf-twim";
	status = "disabled";
};
&i2c1 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	sda-pin = <5>;
	scl-pin = <41>;
};

&spi2 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	sck-pin = <13>; //P0.13 - Unused
	mosi-pin = <42>; //P1.10
	miso-pin = <40>; //P1.08 - Unused
    led_strip: ws2812@0 {
	    compatible = "worldsemi,ws2812-spi";
		label = "ledstrip";
		reg = <0>;
    spi-max-frequency = <4000000>;
    color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
		chain-length = <1>;
		spi-one-frame = <0x70>;
		spi-zero-frame = <0x40>;
	};
};
&gpio0 {
	status = "okay";
};
&gpio1 {
	status = "okay";
};
&usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";
};

&pwm0 {
	status = "disabled";
};
&pwm1 {
	status = "disabled";
};
&pwm2 {
	status = "disabled";
};
&pwm3 {
	status = "disabled";
};
&rtc1 {
	status = "disabled";
};
&timer3 {
    status = "disabled";
};
&timer4 {
    status = "disabled";
};

/* USB CDC Device */
zephyr_udc0: &usbd {
  compatible = "nordic,nrf-usbd";
	status = "okay";
	cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
};