# Copyright (c) 2020 Jefferson Lee.
# SPDX-License-Identifier: Apache-2.0

if BOARD_DTQSYS_HT
config BOARD
	default "dtqsys_ht"

config BT_CTLR
	default BT

config BOARD_DTQSYS_INIT
	default y

if I2C
config I2C_NRFX
	default y
config NRFX_TWIM
	default y
config I2C_0
	default y
config I2C_1
	default y
endif #I2C

config SPI_NRFX
	default y
config NRFX_SPIM
	default y
config SPI_2_NRF_SPIM
	default y

endif #board
