/ {
  chosen {
    zephyr,console = &usb_serial;
    /delete-property/ zephyr,shell-uart;
  };

  aliases {
    adcctrl = &adc0;
    i2csensor = &i2c0;
    spisensor = &spi2;
    guiuart = &uart0;
  };
};

&adc0 {
  status = "okay";
};

//&pinctrl {
//  spim2_imu: spim2_imu {
//      group1 {
//          pinmux = <SPIM2_MISO_GPIO4>,
//                   <SPIM2_SCLK_GPIO6>,
//                   <SPIM2_CSEL_GPIO7>;
//      };
//      group2 {
//          pinmux = <SPIM2_MOSI_GPIO5>;
//          output-low;
//      };
//  };
//  uart1_sbus: uart1_sbus
//  {
//      group1 {
//          pinmux = <UART1_TX_GPIO3>,
//                   <UART1_RX_GPIO8>;
//      };
//  };
//};
//// &i2c0 {
//  //     mpu9250: mpu9250@68 {
//      //         compatible = "invensense,mpu9250";
//      //         reg = <0x68>;
//      //         status = "okay";
//      //         gyro-sr-div = <(1000/140-1)>;   //(1000/rate-1)
//      //         gyro-dlpf = <41>;
//      //         gyro-fs = <2000>;
//      //         accel-fs = <2>;
//      //         accel-dlpf = "10.2";
//  //     };
//// };
//
//&spi2 {
//  #address-cells = <1>;
//  #size-cells = <0>;
//  status = "okay";
//  pinctrl-0 = <&spim2_imu>;
//  pinctrl-names = "default";
//  // icm42688: icm42688@0 {
//      //     compatible = "invensense,icm42688";
//      //     spi-max-frequency = <3000000>;
//      //     reg = <0>;
//      //     label = "icm42688";
//      //     accel-fs = <2>;
//      //     gyro-fs = <2000>;
//      //     accel-hz = <1000>;
//      //     gyro-hz = <1000>;
//  // };
//};
//
//&timer0 {
//  status = "ok";
//  prescaler = <80>;
//  group = <0>;
//  index = <0>;
//};
/* Flash Layout
*    Bootloader    0x00000 - 0x10000 (Size 0x10000 64Kb)
*    Code0         0x10000 - 0x206000 (Size 0x1F6000 2008Kb)
*    Code1         0x206000 - 0x3FC000 (Size 0x1F6000 2008Kb)
*    NVM Data      0x3FC000 - 0x400000 (Size 0x4000 16kb)
*/

//&dma {
//  status = "okay";
//};
//
//&uart1 {
//  status = "okay";
//  current-speed = <115200>;
//  pinctrl-0 = <&uart1_sbus>;
//  pinctrl-names = "default";
//  // parity = "odd";
//  // stop-bits = "2";
//  // data-bits = <8>;
//  // dmas = <&dma 3>, <&dma 5>;
//  // dma-names = "tx", "rx";
//};
//

/delete-node/ &storage_partition;

&flash0 {
	status = "okay";
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* Reserve 60kB for the bootloader */
		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x0000F000>;
			read-only;
		};

		/* Reserve 1024kB for the application in slot 0 */
		slot0_partition: partition@10000 {
			label = "image-0";
			reg = <0x00010000 0x00100000>;
		};

		/* Reserve 1024kB for the application in slot 1 */
		slot1_partition: partition@110000 {
			label = "image-1";
			reg = <0x00110000 0x00100000>;
		};

		/* Reserve 256kB for the scratch partition */
		scratch_partition: partition@210000 {
			   label = "image-scratch";
			   reg = <0x00210000 0x00040000>;
		};

    storage_partition: partition@250000 {
      label = "storagept";
      reg = <0x00250000 0x4000>;
  };
	};
};
