/*
 * Copyright (c) 2022 Marcin Niestroj
 * Copyright (c) 2022 Peter Johanson
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>

/ {
	model = "Seeed XIAO Sense";
	compatible = "seeed,xiao-sense";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &code_partition;
	};

  aliases {
		adcctrl = &adc;
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		sd_partition: partition@0 {
			label = "softdevice";
			reg = <0x00000000 0x00027000>;
		};

		code_partition: partition@27000 {
			label = "code_partition";
			reg = <0x00027000 0x000c5000>;
		};

    datapt_partition: partition@EC000 {
			label = "datapt";
			reg = <0xEC000 0x8000>;
		};

		boot_partition: partition@f4000 {
			label = "adafruit_boot";
			reg = <0x000f4000 0x0000c000>;
		};
	};
};

&adc {
	status = "okay";
};

&uart0 {
	status = "disabled";
};

&i2c0 {
	compatible = "nordic,nrf-twim";
	status = "disabled";
};

&i2c1 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	sda-pin = <4>;
	scl-pin = <5>;
};

&spi3 {
	status = "okay";
	sck-pin = <13>; //P0.21
	mosi-pin = <42>; //P0.20
	miso-pin = <40>; //P0.24
	cs-gpios = <&gpio0 25 GPIO_ACTIVE_LOW>;
	p25q16h_spi: p25q16h@0 {
    label = "p25q16h";
		compatible = "jedec,spi-nor";
		reg = <0>;
		wp-gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;
		hold-gpios = <&gpio0 23 GPIO_ACTIVE_LOW>;
		spi-max-frequency = <104000000>;
		jedec-id = [85 60 15];
		sfdp-bfp = [
			e5 20 f1 ff  ff ff ff 00  44 eb 08 6b  08 3b 80 bb
			ee ff ff ff  ff ff 00 ff  ff ff 00 ff  0c 20 0f 52
			10 d8 08 81
		];
		size = <16777216>;
		has-dpd;
		t-enter-dpd = <3000>;
		t-exit-dpd = <8000>;
	};
};

&gpio0 {
	status = "okay";
};
&gpio1 {
	status = "okay";
};
&usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";
};
&pwm0 {
	status = "disabled";
};
&pwm1 {
	status = "disabled";
};
&pwm2 {
	status = "disabled";
};
&pwm3 {
	status = "disabled";
};
&rtc1 {
	status = "disabled";
};
&timer3 {
    status = "disabled";
};
&timer4 {
    status = "disabled";
};

/* USB CDC Device */
zephyr_udc0: &usbd {
  compatible = "nordic,nrf-usbd";
	status = "okay";
	cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
};
