QMainWindow {
    background-color: white;
    border-image: url("Background.svg") 0 0 0 0 stretch stretch;
    }

QTableWidget {
/*background-color: #646464;*/
padding: 4px;
border-style: none;
border-bottom: 1px solid #fffff8;
border-right: 0px solid #fffff8;


}
