QMainWindow {
    background-color: white;
    border-image: url(":/Icons/images/Background.svg") 0 0 0 0 stretch stretch;
    }

QTableWidget {
/*background-color: #646464;*/
padding: 4px;
border-style: none;
border-bottom: 1px solid #fffff8;
border-right: 0px solid #fffff8;
}

QSlider::groove:horizontal {
    border: 1px solid #999999;
    height: 12px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #ededed, stop:1 #e0e0e0);
    margin: 2px 0;
}

QSlider::handle:horizontal {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #b4b4b4, stop:1 #8f8f8f);
    border: 1px solid #5c5c5c;
    width: 18px;
    margin: -2px 0; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
    border-radius: 3px;
}
