name: MacOS GUI

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/build-gui_mac.yml'
      - 'gui/src/**'

  pull_request:
    branches:
      - master
    paths:
      - '.github/workflows/build-gui_mac.yml'
      - 'gui/src/**'

  workflow_dispatch:

jobs:
  build:
    runs-on: macos-11

    steps:
      - name: Select XCode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '12.5.1'

      - name: Check out the repo
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          aqtversion: '==2.1.*'
          version: '6.4.1'
          setup-python: false

      - name: Build
        working-directory: ${{github.workspace}}
        run: |
          cd gui/src
          ls
          qmake HeadTracker.pro
          make

#      - name: List Files
#        working-directory: ${{github.workspace}}
#        run: |
#          ls -la gui/src/HeadTracker.app/
#          ls -la gui/src/HeadTracker.app/Contents
#          ls -la gui/src/HeadTracker.app/Contents/MacOs
#          lipo -detailed_info gui/src/HeadTracker.app/Contents/MacOS/HeadTracker

      - name: MacDeployQT
        working-directory: ${{github.workspace}}
        run: |
          mkdir output
          cp -R gui/src/HeadTracker.app output/HeadTracker.app
          cp gui/src/css/stylesheet.css output/HeadTracker.app/Contents/MacOs
          cp gui/src/css/Background.svg output/HeadTracker.app/Contents/MacOs
          cd output
          macdeployqt HeadTracker.app -verbose=2

      - name: Archive production artifacts
        uses: actions/upload-artifact@v2
        with:
          name: HeadTracker_MacOs
          path: ${{github.workspace}}/output
          retention-days: 60
