name: Windows GUI

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/build-gui.yml'
      - 'gui/src/**'

  pull_request:
    branches:
      - master
    paths:
      - '.github/workflows/build-gui.yml'
      - 'gui/src/**'

  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:     
      - name: Check out repository code
        uses: actions/checkout@v2
        
      - name: Cache Qt
        id: cache-qt
        uses: actions/cache@v1
        with:
          path: qt/
          key: ${{ runner.os }}-QtCache
    
      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: '5.15.2'
          target: 'desktop'
          #Targets - 'anroid' , 'ios'
          arch: 'win64_mingw81'
          dir: '${{ github.workspace }}/qt'
          install-deps: 'true'
          modules: 'qtserial'
          cached: ${{ steps.cache-qt.outputs.cache-hit }}
          
      - name: Set up MinGW
        uses: egor-tensin/setup-mingw@v2
        with:
            platform: x64
               
      - name: Build
        working-directory: ${{github.workspace}}        
        run: |
          cd gui/src
          dir
          qmake HeadTracker.pro
          mingw32-make

      - name: WinDeployQT
        working-directory: ${{github.workspace}}
        run: |
          mkdir output
          cp gui/src/release/HeadTracker.exe output/
          cp gui/src/css/stylesheet.css output/
          cp gui/src/css/Background.svg output/
          cd output
          curl -L -o bossac.exe https://github.com/arduino/arduino-flash-tools/raw/master/tools_windows/bossac/bin/bossac.exe
          windeployqt HeadTracker.exe            

      - name: Archive production artifacts
        uses: actions/upload-artifact@v2
        with:
          name: headtracker_win
          path: ${{github.workspace}}/output
          retention-days: 60

